<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Card</title>
    <link rel="stylesheet" href="../App.css" />
  </head>
  <body>
    <div class="card">
      <div class="card-img">
        <img src="https://via.placeholder.com/120" alt="Profile Picture" />
      </div>

      <div class="desc">
        <h6 class="primary-text">Olivia Smith</h6>
        <h6 class="secondary-text">Full Stack Developer</h6>
      </div>

      <button class="primary-text">View Profile</button>
    </div>
  </body>
</html>
